body {
  margin: 0;
  background: #0a0a0a;
  color: white;
  font-family: Arial;
  text-align: center;
}

.game {
  max-width: 420px;
  margin: auto;
}

canvas {
  width: 100%;
  background: black;
  border-radius: 10px;
  touch-action: none;
}

.buttons {
  margin-top: 10px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}
